body {
    background-color:hsl(30, 38%, 92%)
    ;

}

img {
    height: 450px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10px;
    size: 500px;
    width: 350px;
    
}

.div1 {
    width: 700px;
    background-color: rgb(255, 255, 255);
     margin-top: 100px;
    margin-left: 450px;   
    border-radius: 5%;
    margin-right: 500px;
    height: 450px;
    size: 50px;
    
    
   }

   h3 {
    opacity: 0.5;
    font-family:  "Montserrat", sans-serif;
     font-weight: 500;
     font-optical-sizing: auto;
     font-style: normal;
     
     margin-top: -400px;
     margin-left: 370px;

    }
    
    


h1 {
    margin-left: 370px ;
}

h4 {
    opacity: 0.5;
    margin-left: 370px;
}

.meoreh1 {
    font-family: "Fraunces", sans-serif;
      font-weight: 700;
    color: rgb(86, 151, 22);
}
.meoreh4 {
    margin-top: -55px;
    margin-inline-start: 500px;
    text-decoration: line-through;
    font-family: "Fraunces", sans-serif;
}

.mesameh1 {
    background-color: blue;
}





.meoredivi {
    width: 200px;
    height: 40px;
    background-color: darkgreen;
    border-radius: 10%;
    margin-top: 100px;
    margin-left: 950px;
    margin-top: -100px;
    margin-left: 850px;
    
}

h2 {
    color: rgb(253, 252, 251);
    margin-left: 50px;
    ;
}

.meorepoto {
    color: blue;
    width: 30px;
    height: 30px;
    margin-top: -500px;
    margin-left: -90px;

}

.div3 {
    margin-top: -20px;
    margin-left: 950px;
}


